@import './base.css';

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

body {
    overflow: hidden;
    --scrollbar-foreground: rgb(39 39 42);
    --scrollbar-background: black;
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scrollbar-foreground);
}

::-webkit-scrollbar-track { /* Background */
    background: var(--scrollbar-background);
}

::selection {
    background: #c66936;
    color: black;
    text-shadow: none;
}